#profile{
  background-color: rgba(255, 255, 255, 90%)
}

#profile .row {
  margin: 0 3em 0 3em;
}

#profile .row .col-4 {
  margin-right: 6em;
}

#user-card button {
  border-radius: 0;
  display: block;
  width: 20em;
}

#avatar-container {
  border: 3px solid black;
  width: 40vh;
  height: 40vh;
  background-size: cover;
}
#avatar-container img {
  width: 100%;
  height: 100%;
}

#edit-profile-btn:hover{ color: rgba(255,255,255,70%); }
#edit-profile-btn {
  position: absolute;
  margin-top: 0.20em;
  margin-left: 0.20em;
  font-size: 2em;
  line-height: 0;
  cursor: pointer;
  color: rgba(60,60,60,20%);
}
