#reviews-container {
	border: 2px solid black;
	height: 40vh;
	width: 100%;
	overflow: auto;
	border-radius: 16px;
	background-color: white;
}

.review-card {
	width: 80%;
	margin: 1em auto;
	padding: 1em;
}

.review-grid {
	height: 100%;
  display: grid;
  grid-template-columns: repeat(50, 15em);
  overflow-x: scroll;
}

.stars {
	color: gold;
}
